.box {
    background-color: whitesmoke;
    border: 2px solid black;
    min-height: 50px;
    font-size: 1rem;
}

/* .negative-margin-legend {
    margin-left: -1.05em;
}

.custom-fieldset {
    position: relative;
}

.custom-fieldset legend {
    position: absolute;
    left: -20px;
    top: 0;
} */